* {
    box-sizing: border-box;
}

@media screen and (orientation: portrait) {
    html {
        background-image: url(/images/bg-720.jpg);
    }
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
    html {
        background-image: url(/images/bg-1280.jpg);
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    html {
        background-image: url(/images/bg-1366.jpg);
    }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    html {
        background-image: url(/images/bg-1920.jpg);
    }
}

@media screen and (min-width: 1921px) {
    html {
        background-image: url(/images/bg-2560.jpg);
    }
}

html {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.bio {
    max-width: 550px;
    background: rgba(0, 0, 0, .6);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: url(/images/avatar.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.name {
    text-align: center;
    font-size: 48px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 0 0 5px;
}

.tagline {
    text-align: center;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 0 0 5px;
}

.location {
    text-align: center;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

.social {
    text-align: center;
    font-size: 0;
}

.social .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    margin: 3px;
    font-size: 28px;
    line-height: 27px;
    color: #fff;
    background-color: #315F77;
    border: 1px solid transparent;
}

.social .btn i {
    line-height: 48px;
}

.social .btn:hover {
    color: #fff;
    background-color: #397d98;
}

.social .group {
    display: inline-block;
}