* {
    box-sizing: border-box;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #000 url(../images/bg.jpg) no-repeat fixed center center;
}

body {
    background-color: transparent;
}

#bio {
    max-width: 550px;
    background: rgba(0, 0, 0, .6);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: url(../images/avatar.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#name {
    text-align: center;
    font-size: 48px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 0 0 5px;
}

#tagline {
    text-align: center;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 0 0 5px;
}

#location {
    text-align: center;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

#social {
    text-align: center;
}

#social a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    margin: 2px;
    font-size: 1.8em;
    line-height: 1.7em;
    color: #fff;
    background-color: #315F77;
    border: 1px solid transparent;
}

#social div {
    display: inline-block;
}

#social a:hover {
    color: #fff;
    background-color: #397d98;
}